/* Our Portfolio Section
--------------------------------*/

#portfolio {
  background: #fff;
  padding: 30px 10px 10px 100px;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#portfolio .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*  */
.navbar-nav li:hover > ul.dropdown-menu *{
    display: block;
    background: #ff9600 !important;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}
@media only screen and (min-width: 767px) {
  .navbar-nav li:hover > ul.dropdown-menu *{
      display: block;
      background: #ff9600 !important;
  }
  .dropdown-submenu {
      position:relative;
  }
  .dropdown-submenu>.dropdown-menu {
      top:0;
      left:100%;
      margin-top:6px;
  }

}
