body{
  font-family: 'Open Sans',! sans-serif !important;
  font-size: 14px !important;
}


.menu-area {
    background: #1d673f;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0;

    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.mainmenu a,
.navbar-default .navbar-nav > li > a,
.mainmenu ul li a,
.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    float: none;
    padding: .6rem 0.7rem;
    font-family: 'Open Sans', sans-serif;
    display: block !important;
    font-weight:600;
}


.navbar-default .navbar-nav > .show > a,
.navbar-default .navbar-nav > .show > a:focus,
.navbar-default .navbar-nav > .show > a:hover {
    color: #fff;
}


.mainmenu .collapse ul > li:hover > a {
    background: #ff9600;
    text-decoration: none;
}

.mainmenu .collapse ul ul > li:hover > a,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .show .dropdown-menu > li > a:hover {
    background: #ff9600;
    color: #fff;
    border-left: 3px solid #ff9600;
    text-decoration: none;
}

.mainmenu .collapse ul ul ul > li:hover > a {
    background: #4CAF50;
}

.mainmenu .collapse ul ul,
.mainmenu .collapse ul ul.dropdown-menu {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

    .mainmenu .collapse ul ul ul,
    .mainmenu .collapse ul ul ul.dropdown-menu {
        background: #ff9600
    }

        .mainmenu .collapse ul ul ul ul,
        .mainmenu .collapse ul ul ul ul.dropdown-menu {
            background: #ff9600
        }


/******************************Drop-down menu work on hover**********************************/

.mainmenu {
    background: none;
    border: 0 solid;
    margin: 0;
    padding: 0;
    min-height: 20px;
    width: 100%;
}

@media only screen and (min-width: 767px) {
    .mainmenu .collapse ul li:hover > ul {
        display: block
    }

    .mainmenu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 270px;
        display: none
    }
        /*******/
        .mainmenu .collapse ul ul li {
            position: relative
        }

            .mainmenu .collapse ul ul li:hover > ul {
                display: block
            }

        .mainmenu .collapse ul ul ul {
            position: absolute;
            top: 0;
            left: 100%;
            min-width: 250px;
            display: none
        }
            /*******/
            .mainmenu .collapse ul ul ul li {
                position: relative
            }

                .mainmenu .collapse ul ul ul li:hover ul {
                    display: block
                }

            .mainmenu .collapse ul ul ul ul {
                position: absolute;
                top: 0;
                left: -100%;
                min-width: 250px;
                display: none;
                z-index: 1
            }
}

@media only screen and (max-width: 767px) {
    .navbar-nav .show .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 35px
    }

    .navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a {
        padding: 16px 15px 16px 45px
    }
}
.kk li a {
    color: #333 !important;
    font-weight: 400 !important;
}
.kk li a:hover {
    color: #fff !important;
}
.scl li a {
    color: #333 !important;
    font-weight: 400 !important;
}

    .scl li a:hover {
        color: #333 !important;
        text-decoration:none;
    }

 ul.top-nav li {
    display: block;
    padding: 5px 13px;
    float: left;
    font-size: 11px;
    color:#333;
    font-weight: 500;
    text-transform: uppercase;
}
    ul.top-nav li a {
        color:#333;
        font-size: 12px;
        font-weight:500px;
    }
    ul.top-nav li a:hover {
        text-decoration:none;
    }
    .top-nav {
        margin-bottom: 5px;
        margin-top: 5px;
    }
ul.top-nav {
    display: block;

    float: right;
}

ul.follow-us {
    display: block;
    padding-top: 8px;
    float: left;
    margin-bottom:0px;
}

    ul.follow-us li {
        display: inline-block;
        padding-right: 20px;
        font-size: 18px;
    }

.twt {
    color: #76a9ea;
}
.fcb {
    color: #475993;
}
.yte {
    color: #f61c0d;
}

.whic {
    width: 80px!important;
    height: 80px;
}

#owl-example .item {
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

    #owl-example .item img {
        width: auto;
        margin: 0 auto;
        display: block;
    }

    #owl-example .item h3 {
        font-size: 28px;
        font-weight: 300;
        margin: 25px 0 0;
    }

    #owl-example .item h4 {
        margin: 5px 0 0;
        font-size: 18px;
    }

.item h1 {
    margin: inherit;
}

.orange {
    background: #ff8a3c;
}

.darkCyan {
    background: #42bdc2;
}

.forestGreen {
    background: #7fc242;
}

.yellow {
    background: #ffd800;
}

.dodgerBlue {
    background: #388bd1;
}

.skyBlue {
    background: #a1def8;
}

.zombieGreen {
    background: #3fbf79;
}

.violet {
    background: #db6ac5;
}

.yellowLight {
    background: #fee664;
}

.steelGray {
    background: #cad3d0;
}


/* More Demo Box */

#example-info h1,
#more h1 {
    margin-top: 40px;
}

.demos-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.demo-page {
    margin-top: 0px;
    margin-bottom: 100px;
}

.demo-box {
    display: block;
    background: #f3f3f3;
    text-align: center;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .demo-box h3 {
        padding-bottom: 20px;
        margin: 0px;
        color: #869690;
    }

    .demo-box:hover {
        text-decoration: none;
    }

.demo-wrapper {
    padding: 30px 0px 20px 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.demo-slide {
    float: left;
}

    .demo-slide .bg {
        background: #aebab6;
        margin-right: 1px;
        height: 100%;
    }

.demo-box:hover .demo-slide .bg {
    background: #7fc242;
}
/* Images */
.demo-images .demo-slide {
    height: 40px;
    width: 33.3333333%;
}
/* Full */
.demo-full {
    padding-left: 0px;
    padding-right: 0px;
}

    .demo-full .demo-slide {
        height: 40px;
        width: 25%;
    }

/* Custom */
.demo-custom .demo-slide {
    height: 40px;
    width: 10%;
}
/* One */
.demo-one .demo-slide {
    height: 40px;
    width: 100%;
}
.textwhy {
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    text-align:center;
}
.textwhy:hover {
   text-decoration:none;
}
.bcm {
    -webkit-box-shadow: 3px 2px 29px -9px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 2px 29px -9px rgba(0,0,0,0.2);
    box-shadow: 3px 2px 29px -9px rgba(0,0,0,0.2);
    padding:15px;
}

.how-study {
    background: url('https://www.mlrinstitutions.ac.in/ht/images/cources-bg.jpg') center top/cover no-repeat;
}

.bottom-left {
    position: absolute;
    top: 8px;
    right: 16px;
}

/*  */

#portfolio {
  background: #fff;
  padding: 30px 10px 10px 100px;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 10px 10px 10px 10px;
  vertical-align: left;
  text-align: center;

}

#portfolio .portfolio-item h2 {
  color: #ffffff;
  font-size: 24px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
}

#portfolio .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*  Center of excellence*/
#one{
  height:  60px;
  width: auto;
  text-align: center;
  background-color: #ff9600;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-right: 5px;
}
#one a{
  color:white;
}
#one h4{
  font-size: 18px;
}

#two{
  height:  60px;
  width: auto;
  text-align: center;
  background-color: #2c97ea;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#two a{
  color:white;
}
#two h4{
  font-size: 18px;
}

#three{
  height:  60px;
  width: auto;
  background-color: #6364da;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#three a{
  color:white;
}
#three h4{
  font-size: 18px;
}

#four{
  height:  60px;
  width: auto;
  background-color: #fe6941;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#four a{
  color:white;
}
#four h4{
  font-size: 18px;
}
#five{
  height:  60px;
  width: auto;
  background-color: #fe6941;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#five a{
  color:white;
}
#five h4{
  font-size: 18px;
}
#six{
  height:  60px;
  width: auto;
    background-color: #52b554;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#six a{
  color:white;
}
#six h4{
  font-size: 18px;
}
#seven{
  height:  60px;
  width: auto;
    background-color: #be32b2;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#seven a{
  color:white;
}
#seven h4{
  font-size: 18px;
}
#eight{
  height:  60px;
  width: auto;
    background-color: #00897b;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#eight a{
  color:white;
}
#eight h4{
  font-size: 18px;
}

#nine{
  height:  60px;
  width: auto;
  text-align: center;
  background-color: #be32b2;
  color:white;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
}
#nine a{
  color:white;
}
#nine h4{
  font-size: 18px;
}
#ten{
  height:  60px;
  width: auto;
  text-align: center;
  background-color: #607d8b;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#ten a{
  color:white;
}
#ten h4{
  font-size: 18px;
}
#tenone{
  height:  60px;
  width: auto;
    background-color: #795548;
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 10px;
}
#tenone a{
  color:white;
}
#tenone h4{
  font-size: 18px;
}
#tentwo{
  height:  60px;
  width: auto;
    background-color: #fbc02d;
  text-align: center;
  color:white;
  margin-left: 10px;
  padding-top: 10px;
}
#tentwo a{
  color:white;
}
#tentwo h4{
  font-size: 18px;
}
#call-to-action {
    background: #1d673f;
    background-size: auto auto;
    background-size: cover;
    padding: 40px 0;
    align-items: center;
}
.box{
  margin-top: 10px;
}
/* adminssions form */
.pd14 {
    padding: 14px;
    margin-right: 30px;
}
#enq{
  background-color: #1d673f;
  color: white;
}

.form-box {
  max-width: 500px;
  margin: auto;
  padding: 50px;
  background: #ffffff;
  border: 10px solid #f2f2f2;
}
.btn2 {
    display: inline-block;
    font-weight: 400;
    background-color: #ff9600;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #f3151500;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  /*  Footer*/

  footer.page-footer.font-small.indigo{
    display: block;
    background-color: #1d673f;
  }
  h5.font-weight-bold.text-uppercase.mt-3.mb-4{
    color: white;
    font-size: 16px;
  }
  #footlist a{
    color: white !important;
    font-size: 14px;
  }
  .footer-copyright.text-center.py-3 {
  background-color: #333;
  color: #999;
  }
  #brandwaricon {
  background-color: #333;
  color: #999;
  float: right;
  padding-right: 100px;
  padding-left: 30px;
  }
  #socialicons{
    background-color: #333;
    color: #999;
    background-color: #333;
    padding-right: 10px !important;
    padding-left: 30px;
  }
  .footer-copyright.text-center.py-3 span {
  background-color: #333;
  color: #999;
  float: center;
  }
